.search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.card-text {
    text-align: left;
}

.ad-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.ad-card-price {
    font-size: 14px;
}